*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html,
body{
  height: 100%;
}

html,
body,
#root{
  height: 100%;

}

body{
  font-family:'Trebuchet MS';
  min-height: 100vh;
}
header{
  height: 10vh;
  z-index: 999;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: royalblue;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

header .fixed{
  background-color:royalblue;
}
header .logo{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  width: 30%;
}
header .logo h3{
  color: #fff;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
}
.logo h3:hover{
  color: lightskyblue;
  
}
header .logo img{
  width:10%;
  height: 80%;
}

.section-main{
  position: relative;
  width:100%;
  min-height: 65vh;
  background: url(.././assets/timelinebanner.jpg) no-repeat;
  -webkit-background-size:contain;
  background-size: contain;
  background-position: top top;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
@media only screen and (max-width:1200px){
  .section-main{
    top:4rem;
    height: 30vh;
  }

}

.section-main h2{
  margin-top: -20%;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}
.searchwrapper{
  display: flex;
  align-items: center;
}
.searchwrapper i{
  color: #fff;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.searchwrapper button{
  text-align: center;
  background-color: royalblue;
  border:none;
  outline: none;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
}
.searchwrapper button:hover{
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.searchwrapper input{
  border:0;
  outline:0;
  padding: 0.5rem;
  height: 10%;
  outline: none;
    border-radius: 3px;
    width: 100%;
  border: none;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.searchicon{
 display:none;
}


.bag{
  display: flex;

  justify-content: space-around;
  align-items: right;
  font-size: 1.5rem;
}
.bag a{
  color:#fff;
 
}

.bag a:hover{
    color: lightblue;
    
}
header .menu{
  position:relative ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a{
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #fff;
  transition: 0.3s;
  transition-property: color, border-bottom;
}
.menu a:hover{
  color: lightblue;
  border-bottom: 1px solid #fff;
  
}

header .btn{
  display: none;
}
@media (max-width: 1060px){
  header .btn{
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
  }
  header .menu{
    position: fixed;
    background-color:royalblue;
    flex-direction: column;
    width: 50%;
    right: -100%;
    height: 100%;
    padding: 2rem 1rem;
    top:0;
    box-shadow: 0 10px 10px rgba(0,0,0,1);
  }

  header .menu .active{
    right: 0;
  }
  header .menu .close-btn{
    position: absolute;
    top:1rem;
    margin-right: 1.5rem;
    right: 0;
  }
  header .menu a{
    
    padding: 2rem 1rem;
    
  }
  header .menu a:hover{
    color: lightblue;

  }
}
/*-------------------------CATEGORIES----------------------------------*/
.categories{
  display: flex;
  justify-content: center; 
}

.categories h2,
.all-heading strong{
  font-size: 1.5rem;
  color: royalblue;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
}

.category-box{
  width:5rem;
  height: 5rem;
  margin: 0px 20px;
  border-radius: 10px;
  
  background-color: royalblue;
  overflow: hidden; 
}

.category-box a img{
  width: 100%;
  height: 100%;
 
  object-fit: cover;
  object-position: corner;
}
.category-box a img:hover {
  background-color: lightskyblue;
  opacity: 60%;
  

}
.item span{
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444444;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cat{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin: 10px auto 40px auto;
}
/*----------------------------------------------------END OF CATEGORIES-------------------------------------------------*/

/*-------------------------------------------------------REGISTER AND LOGIN----------------------------------------------------------*/

#form-input {
  top: 2rem;
    width: 40rem;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#form-input fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}
#form-input input, #form-input textarea {
    padding: 15px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
  border: none;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  
}

#form-input input:hover{
  border-bottom: 3px solid royalblue;
  outline: none;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

#form-input .action-button {
    width: 100px;
    background: royalblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.reset{
  text-align: right;
  color: royalblue;
  
}
.reset:hover{
  color: lightblue;
}
#form-input .action-button:hover, #form-input .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


/*headings*/
#form-input .form-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: royalblue;
    margin-bottom: 10px;
}
#form-input .form-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: royalblue;
    margin-bottom: 20px;
}
#form-input .social-links .google-btn{
    background-color: red;
    color:#fff;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}
#form-input .social-links .fb-btn{
  background-color: blue;
  color:#fff;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;

}


#form-input .social-links .google-btn:hover{
  background-color: tomato;
  

}


#form-input .social-links .fb-btn:hover{
  background-color: lightsteelblue;

}
#form-input .connect{
  text-align: center;
}
#form-input .linking{
  text-align: right;
}
#form-input .linking a{
  color: royalblue;
}

#form-input .linking a:hover{
  color: lightblue;
}


/*------------------BAG--------------------------*/
.bag-view{
    height:100%;
  padding-left: 3rem;
  padding-top:8rem ;
    text-align: center;
    position: relative;

}
.bag-title{
  text-align: left;
 
}
/*-----------------------------TABLE-------------------------------------------------------*/
.table-responsive{
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 13rem;
  border-bottom: 3px solid royalblue;
  
}
.table{
  width: 100%; 
  border-collapse: collapse; 
}
.table th{
  padding: 2rem;
  text-align: center;
}
.table td{
  padding: 2rem;
  
}
.table .totalp{
  text-align: right;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .bag-view{
    height:100%;
  }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: ""; }
    td:nth-of-type(2):before { content: "Image"; }
    td:nth-of-type(3):before { content: "Name"; }
    td:nth-of-type(4):before { content: "Price"; }
    td:nth-of-type(5):before { content: "Quantity"; }
    td:nth-of-type(6):before { content: "Subotal"; }
}
/*----------FOOTER----------------------------*/
footer {
  border-top: 1px solid #f1f1f1;
  background-color:royalblue;
  color: #fff;
  padding:5rem;
  line-height: 1rem;
  justify-content: center;
  align-items: center;
  
}
.container{
  max-width: 1170px;

}
.footer-col{
  width: 20%;
  margin-left: 5rem;
align-items: center;
justify-content: center;


}
.footer-col h4{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-col li{
  margin-bottom: 1rem;
}

.footer-col a:hover{
  color: lightblue;
  
}
.footer-col li p{
  font-size: smaller;
}

footer .row{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

footer a{
  display: block;
  font-size: 1rem;
  color: #fff;
}
  
footer .icons{
  width: 3rem;
  height: 3rem;
}
/*----------------------------------------------- END OF FOOTER--------------------------------------------------------*/
 

/*----------------------------------------------------MOBILE-----------------------------------------------------------*/
/*------------------------------------------------RESPONSIVENESS-------------------------------------------------------*/
/*------FOOTER RESPONSIVENESS------*/
@media(max-width:767px){
  .footer-col{
      width: 50%;
      margin: 1rem;
  }
}   

/*----------------------------------modal ajax-------------------------------------------*/
